@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
            <button class="btn btn-outline btn-primary btn-lg" type="button" style="float:right" onclick="window.location='@Url.Content("~/Manage/ManageAssetDetail")'">เริ่มบันทึกงานใหม่</button>
        </div>
        <!-- /.col-lg-6 (nested) -->
        <div class="col-lg-6">
            <button class="btn btn-outline btn-primary btn-lg" type="button" onclick="window.location='@Url.Content("~/Search/ManageSearch")'">ค้นหางานเดิม</button>
        </div>
        <!-- /.col-lg-6 (nested) -->
    </div>
    <!-- /.row (nested) -->
</div>

